.data-list{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-group-item:hover{
  background-color: #f7f7f7;
}

.loaderInfo{
  text-align: center;
  font-size: 40px;
  color: #CCC;
}
