.table {
  border: none;
}

.table-definition thead th:first-child {
  pointer-events: none;
  background: white;
  border: none;
}

.table td {
  vertical-align: middle;
}

thead tr th:nth-child(n+2),
tbody tr td:nth-child(n+2){
  width: 4em;
  min-width: 4em;
  max-width: 4em;
  word-break: normal;
  padding: 0 2px 1px 2px;
  text-align: center;
}

.page-item > * {
  border: none;
}

.custom-checkbox {
  min-height: 1rem;
  padding-left: 0;
  margin-right: 0;
  cursor: pointer;
}
.custom-checkbox .custom-control-indicator {
  content: "";
  display: inline-block;
  position: relative;
  width: 30px;
  height: 10px;
  background-color: #818181;
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
  vertical-align: middle;
  margin: 0 16px;
  box-shadow: none;

}
.custom-checkbox .custom-control-indicator:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  /*background-color: #dc3573;*/
  background-color: rgba(214,44,50,0.91);
  border-radius: 21px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -2px;
  top: -4px;
  -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
  transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-color: #28b496;
  background-image: none;
  box-shadow: none !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
  background-color: #28b496;
  left: 15px;
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
  box-shadow: none !important;
}

.data-chooser{
  width: 400px;
  margin-bottom: 10px;
  overflow-x: hidden;
  transition: 0.5s;
}


.parameter-header{
  height: 50px;
  padding: 10px;
  font-size: larger;
  text-align: center;
  font-weight: bold;
  background-color: #f7f7f7;
}

.parameter-section{
  height: 60px;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.parameter-selector{
  background-color: #f7f7f7;
  height: 0;
  width: 100%;
  /*position: fixed; !* Stay in place *!*/
  z-index: 1; /* Stay on top */
  /*top: 0; !* Stay at the top *!*/
  /*left: 0;*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /*padding-top: 60px; !* Place content 60px from the top *!*/
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.show-section{
  margin-left: -100px;
}

.save-cancel-section{
  text-align: center;
  margin-bottom: 10px;
}

.close {
  font-size: 30px;
  text-shadow: none;
  color: #000;
  opacity: 1;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 5;
}

.table-close-icon{
  height: 30px;
  width: 30px;
}

.table-close-icon:hover{
  height: 34px;
  width: 34px;
  transition: width 0.1s, height 0.1s;
}

.dropdown-menu > .dropdown {
  position: relative;
}

.dropdown-menu > .dropdown a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: .9rem;
  top: .9rem;
}

.dropdown-menu > .dropdown .dropdown-menu {
  top: -.7rem;
  left: 100%;
  border-radius: 0 .25rem .25rem .25rem;
}



.visualization-filter-section {
  width: 100%;
  height: 35px;
  display: inline-flex;
}

.visualization-filter-buttons {
  display: flex;

}

.visualization-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.no-borders {
  box-shadow: none;
}

.no-borders img {
  height: 15px;
}

.period-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.filter-image{
  width: 20px;
  height: 20px;
}

.visualization-filter-btn{
  margin-right: 5px;
  display: flex;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  color: black;
  border-radius: 15px;
  opacity: 0.5;
  background-color: white;
  box-shadow: none;
  /*height: 35px;*/
}



.data-filter-btn,
.period-filter-btn,
.org-unit-filter-btn,
.layout-filter-btn {
  margin-right: 5px;
  display: flex;
  width: auto;
  font-size: 12px;
  font-weight: bold;
  color: black;
  border-radius: 15px;
  opacity: 0.5;
  background-color: white;
  /*box-shadow: none;*/
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.data-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.org-unit-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.layout-filter-btn img {
  display: block;
  margin: auto;
  height: 15px;
}

.visualization-filter-btn:hover{
  background-color: #e0ecfc;
}

.data-filter-btn:hover{
  background-color: #e0ecfc;
}

.period-filter-btn:hover{
  background-color: #e0ecfc;
}

.org-unit-filter-btn:hover{
  background-color: #e0ecfc;
}

.layout-filter-btn:hover{
  background-color: #e0ecfc;
}

.visualization-filter-list {
  display: flex;
  margin-left: 5px;
}

.visualization-filter-body {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  padding: 5px;
  top: 40px;
  width: 430px;
  height: 350px;
  z-index: 1200;
}

.active-filter {
  background-color: #f1f1f1;
}

@media (max-width: 500px) {
  .visualization-filter-body {
    width: 95%;
  }
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  80% { transform: rotate(0deg); }
  85% { transform: rotate(5deg); }
  95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
  display: inline-block;
  animation: wiggle 2.5s infinite;
}

.wiggle:hover {
  animation: none;
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);

  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.bottom-section{
  display: none;
}
.table-section{
  border: none;
}

.circular-checkbox{
  width: 25px;
  height: 25px;
}

.circular-checkbox:hover{
  width: 28px;
  height: 28px;
}

main:hover .bottom-section{
  display : inline-flex;
  right: 2px;
}

.loader-holder{
  text-align:center;
  display: inline-flex;
  margin-right: auto;
  margin-left: auto;
}

.loaderInfo{
  text-align: center;
  font-size: 20px;
  color: #CCC;
  margin-top: 9px;
}

