<dhis-menu></dhis-menu>


<main class="container pt-5" style="margin-top: 10px;max-width: 1840px;">

  <div class="card mr-auto data-chooser" [ngStyle]="{width: sheetWidth}" >
  <!--<div class="card mb-5">-->
    <div class="parameter-header">Choose assignments</div>
    <div class="parameter-section">
      <div class="btn btn-outline-primary {{orgUintActive}}" (click)="showOrgunit()">Organisation Unit</div>
      <div class="btn btn-outline-primary {{dataSetActive}}" (click)="showDataSet()">Data Sets</div>
      <div class="btn btn-outline-primary {{programActive}}" (click)="showProgram()">Program</div>
    </div>

    <div class="parameter-selector" [ngStyle]="{height: sheetHeight}">
      <div *ngIf="showOrgUnits">
        <!--organisation unit tree-->
        <app-org-unit-filter
          [orgunit_model] = "orgUnit.data.orgunit_settings"
          [showUpdate]="true"
          (onOrgUnitModelUpdate) = "updateOrgUnitModel($event)"
          (selectedOrgUnit)="getNewOrgUnit($event)"
          (deSelectedOrgUnit)="removeDeselectedOrgUnit($event)"
        ></app-org-unit-filter>
        <!--end of organisation unit tree-->
      </div>
      <div *ngIf="showDataSets">
        <app-data-sets (exportedDataset)="receiveData($event)"></app-data-sets>

      </div>
      <div *ngIf="showPrograms">
        <app-programs (exportedProgram)="receiveData($event)"></app-programs>
      </div>
    </div>
  </div>

        <!--table section begins-->
  <div class="card mb-5">


    <button type="button" class="close close-chat mr-1" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true"> <img src="./assets/cancel.png" class="table-close-icon" alt="" (click)="closeSession()" title="deletes the orgUnit assignment table data"> </span>
    </button>
    <div class="card-header" style="display: inline-flex">
          <!--filter Section button-->
      <div class="visualization-filter-section" >
        <div class="visualization-filter-buttons">
          <button class="dashboard-btn visualization-filter-btn " title="Filter by different dimensions"
                  (click)="toggleFilters($event)"  >
            <img src="assets/icons/filter.png" alt="">
            <!--<img *ngIf="showFilters" src="assets/icons/clo se.png" alt="" >-->
          </button>
          <div  class="visualization-filter-list" *ngIf="showFilters" >
            <button class="dashboard-btn data-filter-btn "
                    title="Filter by data" >
              <img src="assets/icons/data.png" alt="">&nbsp;Data
            </button>
            <button class="dashboard-btn period-filter-btn "  title="Filter by period"
            >
              <img src="assets/icons/period.png" alt="">&nbsp;Period
            </button>
            <button class="dashboard-btn org-unit-filter-btn "  title="Filter by organisation unit"
            >
              <img src="assets/icons/tree.png" alt="">&nbsp;Org-Unit
            </button>

            <button class="dashboard-btn layout-filter-btn "
                    title="Change layout" >
              <img src="assets/icons/layout.png" alt="">&nbsp;Layout
            </button>
          </div>
        </div>
      </div>
      <!--filter Section button-->
      <!--Organisation Unit Assignment Table-->


      <div class="visualization-filter-body dashboard-border">
        <!--<app-org-unit-filter></app-org-unit-filter>-->
        <app-data-filter></app-data-filter>
      </div>
















      </div>


    <!--<div class="card-header bg-info  border-0 py-3 d-flex align-items-center">-->
      <!--<img src="http://placehold.it/45x45" class="rounded-circle align-self-start mr-3">-->
      <!--<div>-->
        <!--<h4 class="card-title mb-0">Card title</h4>-->
        <!--<h6 class="card-subtitle text-muted">Card subtitle</h6>-->
      <!--</div>-->
      <!--<span class="badge badge-success ml-auto px-4">Success</span>-->
    <!--</div>-->






    <div class="card-block p-0">

      <table class="table table-bordered table-sm m-0" id="assignment-table">
        <thead class="">
        <tr>
          <th>OrgUnit / DataSets</th>
          <th *ngFor="let data of selectedData">{{data.displayName}}</th>
        </tr>
        </thead>
        <tbody>
        <tr id="data-table-row" *ngFor="let orgUnit of tempOrgUnuits | paginate: { id: 'listing_pagination',itemsPerPage:itemsOnPage,currentPage: page,totalItems: totalRec }">

          <td>{{orgUnit.name}}</td>
          <td *ngFor="let dataOrgUnit of orgUnit.assigned" >
            <label class="custom-control custom-checkbox" >
              <input type="checkbox"  class="custom-control-input" [checked]="dataOrgUnit.assigned" (change)="checkBoxChanged(orgUnit,dataOrgUnit,dataOrgUnit.assigned,$event)" >
              <span class="custom-control-indicator"></span>
              </label>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <!--<div class="card-footer p-0">-->
      <!--<nav aria-label="...">-->
        <!--<ul class="pagination justify-content-end mt-3 mr-3">-->
          <!--<li class="page-item disabled">-->
            <!--<span class="page-link">Previous</span>-->
          <!--</li>-->
          <!--<li class="page-item active"><a class="page-link" href="#">1</a></li>-->
          <!--<li class="page-item">-->
                            <!--<span class="page-link">2<span class="sr-only">(current)</span>-->
                            <!--</span>-->
          <!--</li>-->
          <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
          <!--<li class="page-item">-->
            <!--<a class="page-link" href="#">Next</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</nav>-->
    <!--</div>-->

    <div class="card-footer p-0">
      <nav aria-label="..." >

        <ul class="pagination justify-content-center mt-3 mr-3" >
          <div class="justify-content-start" style="display: inline-flex; padding: 5px">Show
            <select name="list-count" id="list-count" class="form-control" style="margin-left: 6px" (change)="pageSizeChange($event)">
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="All">All</option>
            </select>
          </div>
      <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </ul>
      </nav>

    </div>

  </div>
</main>





