<dhis-menu></dhis-menu>


<main class="container pt-5" style="margin-top: 10px">

  <div class="card mb-5">
    <div class="parameter-header">Choose assignments</div>
    <div class="parameter-section">
      <div class="btn btn-outline-primary {{orgUintActive}}" (click)="showOrgunit()">Organisation Unit</div>
      <div class="btn btn-outline-primary {{dataSetActive}}" (click)="showDataSet()">Data Sets</div>
      <div class="btn btn-outline-primary {{programActive}}" (click)="showProgram()">Program</div>
    </div>

    <div class="parameter-selector" [ngStyle]="{height: sheetHeight}">
      <div *ngIf="showOrgUnits">

      </div>
      <div *ngIf="showDataSets">
        <app-data-sets (exportedDataset)="receiveData($event)"></app-data-sets>
      </div>
      <div *ngIf="showPrograms">
        <app-programs (exportedProgram)="receiveData($event)"></app-programs>
      </div>
    </div>
  </div>

        <!--table section begins-->
  <div class="card mb-5">
    <div class="card-header">Organisation Unit Assignment</div>
    <div class="card-block p-0">

      <table class="table table-bordered table-sm m-0">
        <thead class="">
        <tr>
          <th>OrgUnit / DataSets</th>
          <th *ngFor="let data of selectedData">{{data.displayName}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orgUnit of tempOrgUnuits " >
          <td>{{orgUnit.displayName}}</td>
          <td *ngFor="let dataCount of temp">
            <label class="custom-control custom-checkbox">
              <input type="checkbox"  class="custom-control-input" [checked]="orgUnit.checked" >
              <!--<input type="checkbox"  class="custom-control-input" ng-model="orgUnit.checked" ng-checked="(orgUnit.checked == 'TRUE')? orgUnit.checked:orgUnit.checked">-->
              <!--<input type="checkbox"  class="custom-control-input" ng-model="orgUnit.checked" ng-checked="orgUnit.checked" ng-true-value="'YES'" ng-false-value="'NO'" >-->
              <!--<input type="checkbox"  class="custom-control-input" value="{{orgUnit.checked}}" >-->
              <!--<input type="checkbox"  class="custom-control-input" value="{{(dataCount.search(e => e.[id] === orgUnit.id).length >0)? checkedTrue:checkedTFalse}}" >-->
              <!--<input type="checkbox"  class="custom-control-input" value="{{dataCount.filter( dataCoun => dataCoun['Name'] === 'Magenic' )? checkedTrue:checkedTFalse}}" >-->
              <span class="custom-control-indicator"></span>
              </label>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="card-footer p-0">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mt-3 mr-3">
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
                            <span class="page-link">2<span class="sr-only">(current)</span>
                            </span>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
