<dhis-menu></dhis-menu>


<main class="container pt-5" style="margin-top: 15px;max-width: 1840px;">
  <!--<div class="page-top-Header">-->
    <!--<div class="logo-holder">-->
      <!--<img src="./assets/logo.png" alt="" style="width: 120px">-->
    <!--</div>-->
    <!--<div style="width: 100%">-->
  <!--<div class="top-head">Interactive Assignments</div>-->
    <!--<div class="header-description">A quick DHIS 2 tool for data Assignment this includes organization units,-->
      <!--datasets, programs, indicators, data elements. Easy to navigate and instantly saves changes.-->
    <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <div class="visualization-filter-section" >
  <div class="visualization-filter-buttons">
    <div  class="visualization-filter-list"  >
      <button class="dashboard-btn org-unit-filter-btn "  title="Filter by organisation unit" [ngStyle]="{zIndex: tourSection1}"
              (click)="toggleCurrentFilter($event, 'ORG_UNIT')" >
        <img src="./assets/icons/tree.png" alt="">&nbsp;Orgunit
      </button>

      <button class="dashboard-btn data-filter-btn " [ngStyle]="{zIndex: tourSection2}"
              title="Filter by data" (click)="toggleCurrentFilter($event, 'DATA')" >
        <img src="./assets/icons/data.png" alt="">&nbsp;Data
      </button>
      <button class="dashboard-btn layout-filter-btn " [ngStyle]="{zIndex: tourSection3}"
              title="Change layout" (click)="toggleCurrentFilter($event, 'LAYOUT')" >
        <img src="./assets/icons/layout.png" alt="">&nbsp;Layout
      </button>

      <button class="dashboard-btn layout-filter-btn " [ngStyle]="{zIndex: tourSection3}"
              title="Change layout" (click)="toggleCurrentFilter($event, 'OPTIONS')" >
        <img src="./assets/icons/options.png" alt="">&nbsp;Options
      </button>
    </div>
  </div>
    <div class="assingment-table"  >Assignment Table</div>
    <div class="search-holder">
      <input type="text" placeholder="Search..."
             class="form-control search-input"  id="search-input" (input)="getFilteredList($event)">
             <!--(input)="getFilteredList($event)"-->

    </div>
    <!--<div style="margin-left: 35%">-->
      <!--<input type="text" placeholder="Search..." class="form-control">-->
      <!--&lt;!&ndash;<button class="dashboard-btn layout-filter-btn "&ndash;&gt;-->
      <!--&lt;!&ndash;title="Change layout" (click)="startTour()" >&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="./assets/icons/tour.png" alt="">&nbsp;Take a tour&ndash;&gt;-->
      <!--&lt;!&ndash;</button>&ndash;&gt;-->
    <!--</div>-->

    </div>

        <!--table section begins-->
  <div class="card mb-5 table-section" [ngStyle]="{zIndex: tourSection4}">
    <div class="card-header" style="display: inline-flex; background-color: white; padding: 2px">
      <div class="visualization-filter-body dashboard-border" appClickOutside (clickOutside)="selectedFilter = ''"  *ngIf="selectedFilter">

        <app-org-unit-filter *ngIf="selectedFilter === 'ORG_UNIT' && tableDefault"
                             [orgunit_model] = "orgUnit.data.orgunit_settings"
                             [showUpdate]="true"
                             (onOrgUnitModelUpdate) = "updateOrgUnitModel($event)"
                             (selectedOrgUnit)="getNewOrgUnit($event)"
                             (wasFirstEmitted)="initOrgUnits($event)"
                             (deSelectedOrgUnit)="removeDeselectedOrgUnit($event)"
                             (hideOrgUnitSelection)="closeSelection($event)"
                             (restoreOrgUnits)="orgUnitBackUp($event)"
        ></app-org-unit-filter>


        <app-data-filter *ngIf="selectedFilter === 'DATA' && tableDefault"
                         (updatedListToTable)="receiveData($event)"
                         (onDataFilterClose)="closeSelection($event)"
                         [selectedItems]="tableHeadData"></app-data-filter>


        <app-org-unit-filter *ngIf="selectedFilter === 'ORG_UNIT' && !tableDefault"
                             [orgunit_model] = "orgUnit.data.orgunit_settings"
                             [showUpdate]="true"
                             (onOrgUnitModelUpdate) = "updateOrgUnitModel($event)"
                             (selectedOrgUnit)="getLayoutChangesOnOrgUnit($event)"
                             (wasFirstEmitted)="getLAyOutChangedInitOrgUnit($event)"
                             (deSelectedOrgUnit)="removeDeselectedOrgUnitOnLayOutchange($event)"
                             (hideOrgUnitSelection)="closeSelection($event)"
                             (restoreOrgUnits)="orgUnitBackUp($event)"
        ></app-org-unit-filter>

        <app-data-filter *ngIf="selectedFilter === 'DATA' && !tableDefault"
                         (updatedListToTable)="receiveLayoutChangesOnData($event)"
                         (onDataFilterClose)="closeSelection($event)"
                         [selectedItems]="table2RowData"
        ></app-data-filter>


        <app-layout *ngIf="selectedFilter === 'LAYOUT'"
                      (onLayoutUpdate)="layoutChanges($event)"
                       (onLayoutClose)="closeSelection($event)" ></app-layout>

        <app-options-display *ngIf="selectedFilter === 'OPTIONS'"
        ></app-options-display>
      </div>

      <!--LOADER ANIMATIONS   -->
      <div  class="loader-bar-holder" *ngIf="showLoader" >
        <div class="loader-holder" >
          <div  style="text-align:center;height: 50px">
            <svg width='70px' height='50px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                 preserveAspectRatio="xMidYMid" class="uil-balls">
              <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
              <g transform="rotate(0 50 50)">
                <circle r="5" cx="30" cy="50">
                  <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                    dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775"
                                    keyTimes="0;1"/>
                  <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                           values="#c5523f;#f2b736"/>
                </circle>
              </g>
              <g transform="rotate(120 50 50)">
                <circle r="5" cx="30" cy="50">
                  <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                    dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775"
                                    keyTimes="0;1"/>
                  <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                           values="#f2b736;#499255"/>
                </circle>
              </g>
              <g transform="rotate(240 50 50)">
                <circle r="5" cx="30" cy="50">
                  <animateTransform attributeName="transform" type="translate" begin="0s" repeatCount="indefinite"
                                    dur="0.5s" values="0 0;29.999999999999996 -17.320508075688775"
                                    keyTimes="0;1"/>
                  <animate attributeName="fill" dur="0.5s" begin="0s" repeatCount="indefinite" keyTimes="0;1"
                           values="#499255;#c5523f"/>
                </circle>
              </g>
            </svg>
          </div>
          <div class="loaderInfo">{{loaderMessage+' '+loderbBar.width}}</div>
        </div>

        <div class="progress" *ngIf="showLoader && loaderMessage !== 'Getting Organisation Units...'">
          <div class="progress-bar" role="progressbar" [ngStyle]="{width:loderbBar.width}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{loderbBar.width}}</div>
        </div>


      </div>

      </div>


    <div class="card-block p-0" *ngIf="tableDefault">

      <table class="table table-bordered table-sm m-0" id="assignment-table1" >
        <thead class="">
        <tr *ngIf="showTable">
          <th style="width:100px">Orgunit / Datasets</th>
          <th width="100px"  id="data">{{detailCount.data1}}</th>
          <th *ngFor="let data of tableHeadData" width="100px" id="{{data.id}}" >{{data.displayName}}</th>
        </tr>
        <tr *ngIf="!showTable">
          <th width="100px"  >Orgunit / Datasets</th>
        </tr>
        </thead>
        <tbody *ngIf="showTable">
        <tr  *ngFor="let orgUnit of tableRowData | paginate: { id: 'listing_pagination',itemsPerPage:itemsOnPage,currentPage: page,totalItems: totalRec }" id="{{orgUnit.id}}" class="table-row" >

          <td>{{orgUnit.name}}</td>
          <td title="{{orgUnit.name}} is assigned to {{(detailCount.data1 == 'Datasets')?getDataSetToOrgUnitCount(orgUnit.id):getProgramsToOrgUnitCount(orgUnit.id)}} {{detailCount.data1}}" id="{{orgUnit.id+'--'}}">{{(detailCount.data1 == 'Datasets')?getDataSetToOrgUnitCount(orgUnit.id):getProgramsToOrgUnitCount(orgUnit.id)}}</td>
          <td *ngFor="let dataOrgUnit of orgUnit.assigned" id="{{orgUnit.id+'-'+dataOrgUnit.id}}" >
            <div style="height: 29px;">
            <img *ngIf="dataOrgUnit.assigned && !dataOrgUnit.onprocess" class="circular-checkbox" src="./assets/tick.png" alt="" (click)="checkBoxChanged(orgUnit,dataOrgUnit,dataOrgUnit.assigned,$event)" title="{{orgUnit.name+','+dataOrgUnit.displayName}}" >
              <img *ngIf="dataOrgUnit.onprocess" class="circular-checkbox" src="./assets/yellow.png" alt=""  title="Saving on process" >
            <img *ngIf="!dataOrgUnit.assigned && !dataOrgUnit.onprocess" class="circular-checkbox" src="./assets/cross.png" alt="" (click)="checkBoxChanged(orgUnit,dataOrgUnit,dataOrgUnit.assigned,$event)" title="{{orgUnit.name+','+dataOrgUnit.displayName}}" >
            </div>
            </td>
          </tr>
        </tbody>
      </table>

    </div>


    <div class="card-block p-0" *ngIf="!tableDefault">
    <table class="table table-bordered table-sm m-0" id="assignment-table2"  >
      <thead class="">
      <tr *ngIf="showTable">
        <th width="100px"  >Orgunit / Datasets</th>
        <th width="100px"  id="orgUnits">Org-units</th>
        <!--<th width="100px"  id="programs">Programs</th>-->
        <th *ngFor="let head of table2HeadData" width="100px" style="background-color: white" id="{{head.id}}">{{head.name}}</th>
      </tr>
      <tr *ngIf="!showTable">
        <th width="100px"  >Org-unit / Datasets</th>
      </tr>
      </thead>
      <tbody *ngIf="showTable">
      <tr  *ngFor="let row of table2RowData | paginate: { id: 'listing_pagination',itemsPerPage:itemsOnPage,currentPage: page,totalItems: totalRec }" id="{{row.id}}" class="table-row" >

        <td>{{row.displayName}}</td>
        <td title="{{row.displayName}} is assigned to {{getOrgUnitCount(row)}} DataSets" id="{{row.id+'--'}}">{{getOrgUnitCount(row)}}</td>
        <!--<td title="{{row.displayName}} is assigned to {{getProgramsToOrgUnitCount(row)}} Programs" id="{{row.id+'-'}}" >{{getProgramsToOrgUnitCount(row)}}</td>-->
        <td *ngFor="let rowDataOnHead of row.assigned" id="{{row.id+'-'+rowDataOnHead.id}}" style="background-color: white" >
          <div style="height: 29px;">
            <img *ngIf="rowDataOnHead.assigned && !rowDataOnHead.onprocess" class="circular-checkbox" src="./assets/tick.png" alt="" (click)="checkBoxChangedOnLayOutChanged(row,rowDataOnHead,rowDataOnHead.assigned,$event)" title="{{row.displayName+','+rowDataOnHead.displayName}}" >
            <img *ngIf="rowDataOnHead.assigned" class="circular-checkbox" src="./assets/yellow.png" alt=""  title="Saving on process" >
            <img *ngIf="!rowDataOnHead.assigned && !rowDataOnHead.onprocess"  class="circular-checkbox" src="./assets/cross.png" alt="" (click)="checkBoxChangedOnLayOutChanged(row,rowDataOnHead,rowDataOnHead.assigned,$event)" title="{{row.displayName+','+rowDataOnHead.displayName}}" >
          </div>
        </td>
      </tr>

      <!--<tr  *ngFor="let orgUnit of tableRowData" >{{orgUnit.displayName}}-->

      <!--</tr>-->


      </tbody>
    </table>
    </div>




    <!--card-footer p-0-->
    <div class="below-section"  style=" background-color: white">
      <nav aria-label="..." >
        <ul class="pagination float-right bottom-section" *ngIf="totalRec>20">
          <div class="justify-content-end" style="display: inline-flex; padding: 5px">Show
            <select name="list-count" id="list-count" class="form-control" style="margin-left: 6px" [(ngModel)]="itemsOnPage" (change)="pageSizeChange($event.target.value)">
              <option value="20">20</option>
              <option value="All">All</option>
            </select>
          </div>
      <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </ul>
      </nav>
    </div>

  </div>
</main>


<app-tour-comp *ngIf="showTour"
               (closePop)="endTour($event)"
               (changeSection)="highLightDiv($event)"></app-tour-comp>


<div class="snackbar {{showChangesApplied}}">Changes saved</div>



