<div class="overlay">

  <!--<div class="container text">-->
    <!--<h3>Popover Example</h3>-->
    <!--<ul class="list-inline">-->
      <!--<li><a href="#" title="Header" data-toggle="popover" data-placement="top" data-content="Content">Top</a></li>-->
      <!--<li><a href="#" title="Header" data-toggle="popover" data-placement="bottom" data-content="Content">Bottom</a></li>-->
      <!--<li><a href="#" title="Header" data-toggle="popover" data-placement="left" data-content="Content">Left</a></li>-->
      <!--<li><a href="#" title="Header" data-toggle="popover" data-placement="right" data-content="Content">Right</a></li>-->
    <!--</ul>-->
  <!--</div>-->

  <!--<div class="text">Overlay Text</div>-->

  <div class="card tour-holder" [ngStyle]="{top: lowerDown, left:lowerLeft}">
    <div class="tour-header">
      Section {{sectionState}} <a class="close" (click)="closePopOver()" >&times;</a>
    </div>
    <div class="tour-section">
      {{loadInfo}}
    </div>
    <div class="tour-footer">
      <div class="btn-group" style="margin-left: 5px" >
        <button id="prev" class="btn btn-default btn-sm tourbtn" (click)="prevClick()" [disabled]="sectionState<=0">
          <<
          &nbsp;&nbsp;Prev</button>
        <button id="next" class="btn btn-default btn-sm tourbtn" (click)="nextClick()" [disabled]="sectionState>=4">
          Next&nbsp;&nbsp; >></button>
      </div>

      <div></div>
    </div>
  </div>


</div>

<!--<img src="./assets/next.png" style="width: 16px;height: 16px" >-->
<!--<img src="./assets/prev.png" style="width: 16px;height: 16px">-->
